@charset "utf-8";
/* CSS Document */

.faq h4  {
    font-size: 16px;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 0;
	padding-left: 26px;
	cursor: pointer;
	line-height: 2em;
	color: #56b2e7;
	position: relative;
	background:
		transparent
		url(../images/list_bullet.png)
		no-repeat
		left 10px;
}
.faq h4::before {
	content: '➡';
	font-size: 11px;
	position: absolute;
	left: 4px;
	top: 50%;
	transform: translateY(-50%);
}
.faq h4:hover {
	color:#66ccff;
}
.faq h4.active {
	color:#66ccff;
}
.faq div   { position:relative; display: none; padding-left: 20px; }
.faq div p { padding:0; margin-bottom:15px; }
